.footer-toolbar {
    background-color: rgb(79, 94, 109);
    width: 100%;
    bottom: 0;
    height: 53px;
}

.footer-toolbar .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
}

.logo-container img {
    width: 60px;
}

img {
    padding: 5px;
}

.logo-container {
    float: left;
    left: 45px;
}

.text-container {
    color: white;
    float: right;
    padding: 0px 75px 0px 0;
    font-family: 'arial', sans-serif;
}