<mat-toolbar style="height: 90.8px;">
    <mat-toolbar-row class="mat-toolbar-row-custom-banner">
        <span class="align-center"></span>
        <span><img src="assets/img/logo_small.png"> </span>
        <span class="example-fill-remaining-space"></span>
        <span class="example-spacer"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
        <a class="banner-right-text">{{'header.headerText' | translate}}</a>
    </mat-toolbar-row>
</mat-toolbar>