<mat-toolbar class="mat-toolbar" style="height: 48px;">
    <mat-toolbar-row class="mat-toolbar-row-custom-banner">
        <div class="example-spacer">
            <span>
                <img src="assets/img/logo_small.png"> </span>
        </div>
        <div>
            <a class="banner-right-text">{{'header.headerText' | translate}}</a>
        </div>
        <div style="display: inline-block;" *ngIf="this._interactionService.userLoggedOut">
            <div style="display: inline-block;">
                <mat-icon svgIcon="user" [matMenuTriggerFor]="menu"></mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="viewProfileDetails();">{{'header.viewProfileMenuItem' | translate}}</button>
                    <button mat-menu-item (click)="logout();">{{'header.logoutMenuItem' | translate}}</button>
                </mat-menu>
            </div>
            <div class="text-user-logged">{{this._interactionService.username}}</div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>