<div class="div-main">
    <div class="div-left" [hidden]="!divLeftShowStatus">
        <div class="div-left-section">
            <div class="div-left-section-title">
                {{'project.task' | translate}}
            </div>
            <div class="div-left-section-box">
                <mat-radio-group label="tasks">
                    <div class="tasks" *ngFor="let task of tasks">
                        <mat-radio-button class="div-left-section-box-button" color="primary" [(value)]="task.name"
                            checked={{task.checked}} (click)="changeCheckedTask(task); resetSelectedOptions();">
                            {{ task.name }}</mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
        </div>
        <div class="div-left-section">
            <div class="div-left-section-title">
                {{'project.inputType' | translate}}
            </div>
            <div class="div-left-section-box">
                <form>
                    <mat-radio-group aria-label="input-types">
                        <mat-radio-button class="div-left-section-box-button" color="primary" value="Text"
                            checked={{checkedStateTextInputType}}
                            (click)="changeCheckedInputType('Text'); hideImageInput();">
                            {{'project.text' | translate}}
                        </mat-radio-button>
                        <mat-radio-button class="div-left-section-box-button" color="primary" value="Image"
                            checked={{checkedStateImageInputType}}
                            (click)="changeCheckedInputType('Image'); showImageInput();">
                            {{'project.image' | translate}}
                        </mat-radio-button>
                        <mat-radio-button class="div-left-section-box-button" color="primary" value="3D"
                            checked={{checkedState3DInputType}}
                            (click)="changeCheckedInputType('3D'); hideImageInput();">
                            {{'project.3DVolumes(Slices)' | translate}}
                        </mat-radio-button>
                        <mat-radio-button class="div-left-section-box-button" color="primary" value="Video"
                            checked={{checkedStateVideoInputType}}
                            (click)="changeCheckedInputType('Video'); hideImageInput();">
                            {{'project.video' | translate}}
                        </mat-radio-button>
                    </mat-radio-group>
                </form>
            </div>
        </div>
        <div class="div-left-section">
            <div class="div-left-section-title">
                {{'project.numberOfClasses' | translate}}
            </div>
            <div class="div-left-section-box">
                <mat-form-field style="padding-left: 15%;">
                    <input matInput type="number">
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="div-middle" [hidden]=!divMiddleShowStatus>
        <div class="div-middle-title">
            {{'project.details' | translate}}
        </div>
        <div class="div-middle-box">
            <div class="div-middle-box-top" [hidden]="!divDetailsLeftSideShowStatus">
                <div class="div-middle-box-title">
                    {{'project.inputFile' | translate}}
                </div>
                <div>
                    <label class="input-file-button mat-flat-button">
                        <span>{{'project.chooseImage' | translate}}</span>
                        <input class="input-file-field" #fileInput type="file" accept="image/*"
                            (change)="browseImage($event)">
                    </label>
                </div>
            </div>

            <div class="div-middle-box-bottom">
                <div class="div-middle-box-bottom-left">
                    <div class="div-middle-slide-toggle-button">
                        <span>{{'project.reTrainTheModel' | translate}}</span>
                        <div>
                            <mat-slide-toggle color="primary" checked={{reTrainState}}
                                (change)="changeStateReTrainToggle()">
                            </mat-slide-toggle>
                        </div>
                    </div>
                    <form>
                        <div class="div-middle-box-title">
                            {{'project.model' | translate}}
                        </div>
                        <mat-form-field class="div-middle-box-content">
                            <mat-select (selectionChange)="triggerSelectedModel($event)" [(value)]=selectedOptionModel>
                                <mat-option *ngFor="let option of modelDropdown" value={{option}}>
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="div-middle-box-title">
                            {{'project.weight' | translate}}
                        </div>
                        <mat-form-field class="div-middle-box-content">
                            <mat-select [(value)]=selectedOptionWeight>
                                <mat-option *ngFor="let option of weightDropdown" value={{option}}>
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="div-middle-box-title">
                            {{'project.preTraining' | translate}}
                        </div>
                        <mat-form-field class="div-middle-box-content">
                            <mat-select [(value)]=selectedOptionPreTraining>
                                <mat-option *ngFor="let option of preTrainingDropdown" value={{option}}>
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="div-middle-box-title">
                            {{'project.fineTuning' | translate}}
                        </div>
                        <mat-form-field class="div-middle-box-content">
                            <mat-select [(value)]=selectedOptionFineTuning>
                                <mat-option *ngFor="let option of fineTuningDropdown" value={{option}}>
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <div class="div-middle-box-title">
                            {{'project.inputSize' | translate}}
                        </div>
                        <mat-form-field class="div-middle-box-content">
                            <mat-select [(value)]=selectedOptionInputSize>
                                <mat-option *ngFor="let option of inputSizeDropdown" value={{option}}>
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                        <div>
                            <div #loss id="loss">
                                <div class="div-middle-box-title">
                                    {{'project.loss' | translate}}
                                </div>
                                <mat-form-field class="div-middle-box-content">
                                    <mat-select [(value)]=selectedOptionLoss>
                                        <mat-option *ngFor="let option of lossDropdown" value={{option}}>
                                            {{option}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div #learningRate id="learningRate">
                                <div class="div-middle-box-title">
                                    {{'project.learningRate' | translate}}
                                </div>
                                <mat-form-field class="div-middle-box-content">
                                    <input matInput type="number" value={{learningRateValue}} step=0.00001
                                        (change)="changeLearningRateValue($event)">
                                </mat-form-field>
                            </div>
                            <div #useDropout id="useDropout">
                                <div class="div-middle-box-content">
                                    <mat-checkbox color="primary" [checked]=useDropoutCheckedState
                                        (change)="changeUseDropoutCheckedState(checked)">
                                        {{'project.useDropout' | translate}}
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="div-middle-box-bottom-right">
                    <div class="div-middle-inference-button">
                        <button mat-flat-button color="primary" (click)="inferenceModel()"
                            [disabled]="disabledInferenceButton">
                            {{'project.inference' | translate}}</button>
                        <!-- <div *ngIf="inferenceProcessStarted">
                            <p>
                                {{inferenceMessage}}
                            </p>
                        </div> -->
                    </div>
                    <div style="padding-top: 15px;" #dataAugmentationSection id=dataAugmentationSection>
                        <div>{{'project.dataAugumentation' | translate}}</div>
                        <div class="data-augmentation" *ngFor="let entry of dataAugmentation">
                            <mat-checkbox color="primary" [(ngModel)]="entry.selected">{{ entry.label }}
                            </mat-checkbox>
                        </div>
                        <button mat-flat-button color="primary" (click)="trainModel()" [disabled]="disabledTrainButton">
                            {{'project.train' | translate}}</button>
                        <!-- <button mat-flat-button color="warn" *ngIf="showStopButton"
                        (click)="stopModel()">{{'project.stop' | translate}}</button> -->
                        <!-- <div *ngIf="disabledTrainButton">
                            <p>
                                {{trainMessage}}
                            </p>
                        </div> -->
                        <div style="padding-top: 15px;" *ngIf="trainSpinner">
                            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-right">
        <div>
            <button mat-flat-button class="div-right-button" (click)="openConfiguration()"
                [class.div-right-button-clicked]="configurationIsClicked">
                {{'project.configuration' | translate}}
            </button>
            <button mat-flat-button class="div-right-button" (click)="openUserScreen()"
                [class.div-right-button-clicked]="userScreenIsClicked">
                {{'project.userScreen' | translate}}
            </button>
            <button mat-flat-button class="div-right-button" (click)="openNetworkStatistics()"
                [class.div-right-button-clicked]="networkStatisticsIsClicked">
                {{'project.networkStatistics' | translate}}
            </button>
            <button mat-flat-button class="div-right-button" (click)="openNotifications()"
                [class.div-right-button-clicked]="notificationsIsClicked">
                {{'project.notifications' | translate}}
            </button>
            <div class="div-user-screen-search">
                <mat-icon class="left-mat-icon" svgIcon={{searchIcon}}></mat-icon>
                <mat-form-field>
                    <input matInput type="search" placeholder="search here">
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="div-user-screen" [hidden]="!divUserScreenShowStatus">
        <div class="div-user-screen-top-half">
            <div class="div-middle-title">
                {{'project.imageInput' | translate}}
            </div>
            <div class="div-user-screen-section-content">
                <div class="div-user-screen-image-input">
                    <img [src]="this._interactionService.projectImageURLSource" width=300px height=auto
                        *ngIf="this._interactionService.projectImageURLSource">
                </div>
                <div>
                    <button class="div-user-screen-process-image-button" mat-flat-button (click)="processImage()"
                        [disabled]="!disabledProcessImageButton">
                        {{'project.processImage' | translate}}
                    </button>
                </div>
            </div>
        </div>
        <div class="div-user-screen-bottom-half">
            <div class="div-middle-title">
                {{'project.networkDetails' | translate}}
            </div>
            <div class="div-user-screen-section-content">
            </div>
        </div>
    </div>

    <div class="div-network-statistics" [hidden]="!divNetworkStatisticsShowStatus">
        <p>network works</p>
    </div>

    <div class="div-notifications" [hidden]="!divNotificationsShowStatus">
        <div class="div-notifications-title">
            <div class="div-notifications-title-section">
                {{'project.projectId' | translate}}
            </div>
            <div class="div-notifications-title-section">
                {{'project.projectType' | translate}}
            </div>
            <div style="border-color: #65A4C4;" class="div-notifications-title-section">
                {{'project.projectStatus' | translate}}
            </div>
        </div>
        <div class="div-notifications-process" *ngFor="let process of runningProcesses"
            (click)="markNotificationAsRead(process)">
            <div class="div-notifications-process-section">
                <div class="div-notifications-icon" *ngIf="process.unread">
                    <mat-icon svgIcon="markUnread"></mat-icon>
                </div>
                <div class="div-notifications-text">
                    {{process.processId}}
                </div>
            </div>
            <div class="div-notifications-process-section">
                {{process.process_type}}
            </div>
            <div class="div-notifications-process-section">
                {{process.process_status}}
            </div>
        </div>
    </div>
</div>