<app-app-tabs></app-app-tabs>
<div class="div-main">
    <div class="div-left" [hidden]="!divLeftShowStatus">
        <div class="div-left-section">
            <div class="div-left-section-title">
                {{'project.uploadDatasetAndModelTitle' | translate}}
            </div>
            <div style="padding-top: 10px;" class="div-left-section-box">
                <button mat-flat-button class="div-left-upload-dataset-button" (click)="uploadDataset();">
                    {{'project.uploadDatasetButton' | translate}}
                </button>
            </div>
            <div style=" padding-bottom: 10px;" class="div-left-section-box">
                <button mat-flat-button class="div-left-upload-dataset-button" (click)="uploadModelWeight();">
                    {{'project.uploadModelButton' | translate}}
                </button>
            </div>
            <div class="div-left-section-title">
                {{'project.task' | translate}}
            </div>
            <div class="div-left-section-box">
                <mat-radio-group label="tasks" [(ngModel)]="this._interactionService.selectedTaskId">
                    <div class="tasks" *ngFor="let task of tasks">
                        <mat-radio-button class="div-left-section-box-button" color="primary" [(value)]="task.id"
                            (click)="resetSelectedOptions(); changeCheckedTask(task)">
                            {{ task.name }}</mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
        </div>
        <div class="div-left-section">
            <div class="div-left-section-title">
                {{'project.inputType' | translate}}
            </div>
            <div class="div-left-section-box">
                <mat-radio-group aria-label="input-types" [(ngModel)]="selectedInputType">
                    <mat-radio-button class="div-left-section-box-button" color="primary" value="Image"
                        [disabled]="true" checked={{checkedStateImageInputType}}>
                        {{'project.image' | translate}}
                    </mat-radio-button>
                    <mat-radio-button class="div-left-section-box-button" color="primary" value="Text" [disabled]="true"
                        checked={{checkedStateTextInputType}}>
                        {{'project.text' | translate}}
                    </mat-radio-button>
                    <mat-radio-button class="div-left-section-box-button" color="primary" value="3D" [disabled]="true"
                        checked={{checkedState3DInputType}}>
                        {{'project.3DVolumes(Slices)' | translate}}
                    </mat-radio-button>
                    <mat-radio-button class="div-left-section-box-button" color="primary" value="Video"
                        [disabled]="true" checked={{checkedStateVideoInputType}}>
                        {{'project.video' | translate}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="div-left-section">
            <div class="div-left-section-title">
                {{'project.numberOfClasses' | translate}}
            </div>
            <div class="div-left-section-box">
                <mat-form-field style="padding-left: 15%;">
                    <input matInput type="number" disabled>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="div-middle" [hidden]=!divMiddleShowStatus>
        <div class="div-middle-title">
            {{'project.detailsTitle' | translate}}
        </div>
        <div class="div-middle-tabs">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="{{'project.train' | translate }}">
                    <div style="padding: 2%;">
                        <div class="div-middle-box-left">
                            <!-- <div #reTrain id="reTrain" class="div-middle-slide-toggle-button">
                                <span>{{'project.reTrainTheModel' | translate}}</span>
                                <div>
                                    <mat-slide-toggle color="primary" checked={{reTrainState}} (change)="changeStateReTrainToggle()">
                                    </mat-slide-toggle>
                                </div>
                            </div> -->
                            <form>
                                <div class="div-middle-box-left-cols">
                                    <div class="div-middle-box-left-col1">
                                        <div class="div-middle-box-title">
                                            {{'project.model' | translate}}
                                        </div>
                                        <mat-form-field class="div-middle-box-content">
                                            <mat-select (selectionChange)="triggerSelectedModel($event)"
                                                [(value)]=selectedOptionModel>
                                                <mat-option *ngFor="let option of modelDropdown" value={{option}}>
                                                    {{option}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="div-middle-box-left-col2 ">
                                        <div class="div-middle-box-title">
                                            {{'project.dataset' | translate}}
                                        </div>
                                        <mat-form-field class="div-middle-box-content">
                                            <mat-select (selectionChange)="triggerSelectedDataset($event)"
                                                [(value)]=selectedOptionDataset [formControl]="requiredDatasetControl"
                                                required>
                                                <mat-option *ngFor="let option of datasetDropdown" value={{option}}>
                                                    {{option}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-hint style="color:#F44336"
                                                *ngIf="requiredDatasetControl.hasError('required')">
                                                {{'project.errorNoDatasetSelected' | translate}}</mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div style="padding-left: 12px;">
                                    <div class="div-middle-box-title">
                                        <mat-icon svgIcon="modelweight" style="color: #084A6C; display: inline-block;">
                                        </mat-icon>
                                        {{'project.weight' | translate}}
                                    </div>
                                    <mat-form-field class="div-middle-box-content">
                                        <mat-select [(value)]=selectedOptionWeight [formControl]="requiredWeightControl"
                                            required>
                                            <mat-option *ngFor="let option of weightDropdown" value={{option}}>
                                                {{option}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-hint style="color:#F44336"
                                            *ngIf="requiredWeightControl.hasError('required')">
                                            {{'project.errorNoWeightSelected' | translate}}</mat-hint>
                                    </mat-form-field>
                                </div>
                            </form>
                        </div>
                        <div class="div-middle-box-properties-title">{{'project.modelPropertiesTitle' | translate}}
                        </div>
                        <div class="div-middle-properties-table">
                            <div class="div-middle-properties-table-titles">
                                <span
                                    style="font-size: 15px; padding-left: 9%;">{{'project.propertiesTitle' | translate}}</span>
                                <span
                                    style="font-size: 15px; padding-left: 9%;">{{'project.defaultPropertiesValuesTitle' | translate}}</span>
                                <span
                                    style="font-size: 15px; padding-left: 29%;">{{'project.allowedPropertiesValuesTitle' | translate}}</span>
                            </div>
                            <div>
                                <div class="div-middle-properties">
                                    <ng-container #viewLearningRateContainer></ng-container>
                                    <ng-container #viewEpochsContainer></ng-container>
                                    <ng-container #viewBatchSizeContainer></ng-container>
                                    <ng-container #viewMetricContainer></ng-container>
                                    <ng-container #viewLossFunctionContainer></ng-container>
                                    <ng-container #viewInputWidthContainer></ng-container>
                                    <ng-container #viewInputHeightContainer></ng-container>
                                    <ng-container #viewTrainingAugmentationsContainer></ng-container>
                                    <ng-container #viewValidationAugmentationsContainer></ng-container>
                                    <ng-container #viewTestAugmentationsContainer></ng-container>
                                    <div style="padding-left: 46%; padding-bottom: 10px;" *ngIf="this.showTrainButton">
                                        <div #trainButton id=trainButton class="div-middle-inference-button">
                                            <button mat-flat-button color="primary" (click)="trainModel()"
                                                [disabled]="this._interactionService.disabledTrainButton">
                                                {{'project.train' | translate}}</button>
                                        </div>
                                    </div>
                                    <div style="padding-left: 10%; color: rgb(9, 46, 78);" *ngIf="trainProcessStarted">
                                        <p>
                                            {{ trainMessage }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="{{'project.inference' | translate }}">
                    <div class="div-middle-box">
                        <div class="div-middle-box-left">
                            <div class="div-middle-box-title">
                                {{'project.model' | translate}}
                            </div>
                            <mat-form-field class="div-middle-box-content">
                                <mat-select (selectionChange)="triggerSelectedModel($event)"
                                    [(value)]=selectedOptionModel [formControl]="requiredModelControl" required>
                                    <mat-option *ngFor="let option of modelDropdown" value={{option}}>
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                                <mat-hint style="color:#F44336" *ngIf="requiredModelControl.hasError('required')">
                                    {{'project.errorNoModelSelected' | translate}}</mat-hint>
                            </mat-form-field>
                            <div class="div-middle-box-title">
                                {{'project.weight' | translate}}
                            </div>
                            <mat-form-field class="div-middle-box-content">
                                <mat-select [formControl]="requiredWeightControl" required
                                    [(value)]=selectedOptionWeight>
                                    <mat-option *ngFor="let option of weightDropdown" value={{option}}>
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                                <mat-hint style="color:#F44336" *ngIf="requiredWeightControl.hasError('required')">
                                    {{'project.errorNoWeightSelected' | translate}}</mat-hint>
                            </mat-form-field>
                            <div class="div-middle-box-title">
                                {{'project.dataset' | translate}}
                            </div>
                            <mat-form-field class="div-middle-box-content">
                                <mat-select matNativeControl [formControl]="requiredDatasetControl" required
                                    [(value)]=selectedOptionDataset>
                                    <mat-option *ngFor="let option of datasetDropdown" value={{option}}>
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                                <mat-hint style="color:#F44336" *ngIf="requiredDatasetControl.hasError('required')">
                                    {{'project.errorNoDatasetSelected' | translate}}</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="div-middle-box-right">
                            <div #inference id="inference">
                                <div class="div-middle-inference-button">
                                    <button mat-flat-button color="primary" (click)="inferenceModel()"
                                        [disabled]="disabledInferenceButton">
                                        {{'project.inference' | translate}}</button>
                                    <div *ngIf="inferenceProcessStarted">
                                        <p>
                                            {{ inferenceMessage }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="{{'project.inferenceSingle' | translate }}">
                    <div class="div-middle-box">
                        <div class="div-middle-box-left">
                            <div class="div-middle-box-title">
                                {{'project.model' | translate}}
                            </div>
                            <mat-form-field class="div-middle-box-content">
                                <mat-select (selectionChange)="triggerSelectedModel($event)"
                                    [(value)]=selectedOptionModel [formControl]="requiredModelControl" required>
                                    <mat-option *ngFor="let option of modelDropdown" value={{option}}>
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                                <mat-hint style="color:#F44336" *ngIf="requiredModelControl.hasError('required')">
                                    {{'project.errorNoModelSelected' | translate}}</mat-hint>
                            </mat-form-field>
                            <div class="div-middle-box-title">
                                {{'project.weight' | translate}}
                            </div>
                            <mat-form-field class="div-middle-box-content">
                                <mat-select [formControl]="requiredWeightControl" required
                                    [(value)]=selectedOptionWeight>
                                    <mat-option *ngFor="let option of weightDropdown" value={{option}}>
                                        {{option}}
                                    </mat-option>
                                </mat-select>
                                <mat-hint style="color:#F44336" *ngIf="requiredWeightControl.hasError('required')">
                                    {{'project.errorNoWeightSelected' | translate}}</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="div-middle-box-right">
                            <div #inferenceSingle id="inferenceSingle">
                                <div class="div-middle-inference-button">
                                    <button mat-flat-button color="primary" (click)="inferenceSingleMethod()"
                                        [disabled]="disabledInferenceSingleButton">
                                        {{'project.inferenceSingle' | translate}}</button>
                                    <div *ngIf="inferenceProcessStarted">
                                        <p>
                                            {{ inferenceMessage }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

    <div class="div-right">
        <div>
            <button mat-flat-button class="div-right-button" (click)="openConfiguration()"
                [class.div-right-button-clicked]="configurationIsClicked">
                {{'project.configuration' | translate}}
            </button>
            <button mat-flat-button class="div-right-button" (click)="openEditProject()"
                [class.div-right-button-clicked]="editProjectIsClicked">
                {{'project.editProject' | translate}}
            </button>
            <button mat-flat-button class="div-right-button" (click)="openNetworkStatistics()"
                [class.div-right-button-clicked]="networkStatisticsIsClicked">
                {{'project.networkStatistics' | translate}}
            </button>
            <button mat-flat-button class="div-right-button" (click)="openNotifications()"
                [class.div-right-button-clicked]="notificationsIsClicked">
                {{'project.notifications' | translate}}
            </button>
            <button mat-flat-button class="div-right-button" (click)="openEditWeights()"
                [class.div-right-button-clicked]="editWeightsIsClicked">
                {{'project.editWeights' | translate}}
            </button>
            <button mat-flat-button class="div-right-button" (click)="openCreateModelAllowedProperties()"
                [class.div-right-button-clicked]="createModelAllowedPropertiesIsClicked">
                {{'project.createModelAllowedProperties' | translate}}
            </button>
            <button mat-flat-button class="div-right-button" (click)="openOutputResultCustom();"
                [class.div-right-button-clicked]="outputResultsIsClicked">
                {{'project.outputResults' | translate}}
            </button>
        </div>
    </div>

    <div class="div-network-statistics" [hidden]="!divNetworkStatisticsShowStatus">
        <p>network works</p>
    </div>

    <div class="div-notifications" [hidden]="!divNotificationsShowStatus">
        <div style="width: 70%; display:inline-block; padding-left: 12px;">
            <mat-icon style="width: 4%; display:inline-block; color: #084A6C;" svgIcon={{searchIcon}}></mat-icon>
            <mat-form-field style="width: 96%; display:inline-block;">
                <input matInput (keyup)="applyProcessFilter($event.target.value)"
                    placeholder="{{'project.searchProcessPlaceholder' | translate}}">
            </mat-form-field>
        </div>

        <table mat-table #processTableSort="matSort" [dataSource]="this._interactionService.processesList" matSort
            class="mat-elevation-z8">
            <ng-container matColumnDef="processRead">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row" (click)="markNotificationAsRead(row)">
                    <div class="div-notifications-icon" *ngIf="row.processRead" title="mark as read">
                        <mat-icon svgIcon="markUnread"></mat-icon>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="processCreatedDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.processCreatedDate' | translate }}</th>
                <td mat-cell *matCellDef="let element"> {{element.processCreatedDate}} </td>
            </ng-container>
            <ng-container matColumnDef="projectId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.projectId' | translate }}</th>
                <td mat-cell *matCellDef="let element"> {{element.projectId}} </td>
            </ng-container>
            <ng-container matColumnDef="processId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.processId' | translate }}</th>
                <td mat-cell *matCellDef="let element"> {{element.processId}} </td>
            </ng-container>
            <ng-container matColumnDef="processType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.processType' | translate }}</th>
                <td mat-cell *matCellDef="let element"> {{element.processType}} </td>
            </ng-container>
            <ng-container matColumnDef="processStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.processStatus' | translate }}</th>
                <td mat-cell *matCellDef="let element"> {{element.processStatus}} </td>
            </ng-container>
            <ng-container matColumnDef="processUpdatedDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.processUpdatedDate' | translate }}</th>
                <td mat-cell *matCellDef="let element"> {{element.processUpdatedDate}} </td>
            </ng-container>
            <ng-container matColumnDef="processOptions">
                <th mat-header-cell *matHeaderCellDef>{{'project.options' | translate }} </th>
                <td mat-cell *matCellDef="let row">
                    <div style="display: flex;">
                        <button mat-icon-button style="padding-right: 20px;"
                            [disabled]="row.processStatus == 'FAILURE' || row.processStatus == 'RETRY'"
                            (click)="showOutputProcess(row)">
                            <mat-icon
                                [ngClass]="{'disabledIcon': row.processStatus == 'FAILURE' || row.processStatus == 'RETRY'}"
                                style="color: #3180ae;" title="Show Output" svgIcon="showOutput"></mat-icon>
                        </button>
                        <div (click)="stopProcess(row)" title="stop process" *ngIf="row.showStopButton"
                            style="padding-top: 9px;">
                            <mat-icon svgIcon="stopProcess" style="color: red;"></mat-icon>
                        </div>
                        <div title="Disabled" *ngIf="row.showDisabledButton" style="padding-top: 9px;">
                            <mat-icon svgIcon="inavailable" style="color: grey;"></mat-icon>
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="this._interactionService.displayedProcessColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: this._interactionService.displayedProcessColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" #processPaginator showFirstLastButtons></mat-paginator>

        <!-- <div class="div-notifications-title">
            <div class="div-notifications-title-section">
                {{'project.processDate' | translate}}
            </div>
            <div class="div-notifications-title-section">
                {{'project.projectId' | translate}}
            </div>
            <div class="div-notifications-title-section">
                {{'project.processId' | translate}}
            </div>
            <div class="div-notifications-title-section">
                {{'project.processType' | translate}}
            </div>
            <div style="border-color: #65A4C4;" class="div-notifications-title-section">
                {{'project.processStatus' | translate}}
            </div>
        </div> -->
        <!-- <div class="div-notifications-process" *ngFor="let process of this._interactionService.runningProcesses | processFilter: searchText"
            (click)="markNotificationAsRead(process)">
            <div class="div-notifications-process-section">
                <div class="div-notifications-icon" *ngIf="process.unread" title="mark as read">
                    <mat-icon svgIcon="markUnread"></mat-icon>
                </div>
                <div class="div-notifications-text">
                    {{process.processDate}}
                </div>
            </div>
            <div class="div-notifications-process-section">
                {{process.projectId}}
            </div>
            <div class="div-notifications-process-section">
                {{process.processId}}
            </div>
            <div class="div-notifications-process-section">
                {{process.process_type}}
            </div>
            <div class="div-notifications-process-section">
                <div class="div-notifications-process-section-text">
                    {{process.process_status}}
                </div>
                <div class="div-notifications-process-section-buttons">
                    <div style="padding-right: 20px;" (click)="showOutputProcess(process)" title="Show Output">
                        <mat-icon svgIcon="showOutput" style="color: #3180ae;"></mat-icon>
                    </div>
                    <div (click)="stopProcess(process)" title="stop process" *ngIf="process.showStopButton">
                        <mat-icon svgIcon="stopProcess" style="color: red;"></mat-icon>
                    </div>
                    <div title="Disabled" *ngIf="process.showDisabledButton">
                        <mat-icon svgIcon="inavailable" style="color: grey;"></mat-icon>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

    <div class="div-edit-weights" [hidden]="!divEditWeightsShowStatus">
        <div class="div-edit-weights-title">{{'project.editWeights' | translate}}</div>
        <div class="div-prefilter-by-models">
            <div class="div-middle-box-title" style="color: #3180ae;">
                {{'project.selectAModel' | translate}}
            </div>
            <br />
            <div>
                <div class="div-middle-box-title-edit-weight">
                    {{'project.model' | translate}}:
                </div>
                <div style="display: inline-block;">
                    <mat-form-field class="div-middle-box-content">
                        <mat-select (selectionChange)="triggerSelectedModelEditWeight($event)"
                            [(ngModel)]="selectedValueEditWeight" [(value)]=selectedOptionModelEditList>
                            <mat-option *ngFor="let option of modelDropdown" value={{option}}>
                                {{option}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div style="width: 70%; display:inline-block;">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                </div>
                <div class="div-middle-edit-weight-message">
                    {{ 'project.errorEditDeleteWeightUserPermission' | translate }}</div>
            </div>
        </div>
        <table mat-table #modelWeightTableSort="matSort" [dataSource]="weightsList" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="weightId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.weightId' | translate }}</th>
                <td mat-cell *matCellDef="let element"> {{element.weightId}} </td>
            </ng-container>
            <ng-container matColumnDef="weightName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.weightName' | translate }}</th>
                <td mat-cell *matCellDef="let element"> {{element.weightName}} </td>
            </ng-container>
            <ng-container matColumnDef="weightDatasetId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.weightDatasetId' | translate }}</th>
                <td mat-cell *matCellDef="let element"> {{element.weightDatasetId}} </td>
            </ng-container>
            <ng-container matColumnDef="weightOwner">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.weightOwner' | translate }}</th>
                <td mat-cell *matCellDef="let element"> {{element.weightOwner}} </td>
            </ng-container>
            <ng-container matColumnDef="weightProcessId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.weightProcessId' | translate }}</th>
                <td mat-cell *matCellDef="let element"> {{element.weightProcessId}} </td>
            </ng-container>
            <ng-container matColumnDef="weightOptions">
                <th mat-header-cell *matHeaderCellDef>{{'project.options' | translate }} </th>
                <td mat-cell *matCellDef="let row">
                    <div style="display: flex;">
                        <div *ngFor="let weight of row.weightUsers">
                            <mat-icon
                                *ngIf="weight.username == this._interactionService.username && weight.permission == 'OWN'"
                                class="div-icon-edit" title="{{'project.edit' | translate }}" svgIcon="edit"
                                (click)="onEditWeight(row)"></mat-icon>
                        </div>
                        <div style="padding-right: 10px; cursor: pointer;"
                            title="{{'project.viewDetails' | translate }}" (click)="showWeightDetails(row)">
                            <mat-icon svgIcon="viewDetails" style="color: #3180ae;"></mat-icon>
                        </div>
                        <span *ngFor="let weight of row.weightUsers">
                            <mat-icon
                                *ngIf="weight.username == this._interactionService.username && weight.permission == 'OWN'"
                                class="div-icon-edit" title="{{'delete-dialog.deleteWeight' | translate }}"
                                svgIcon="delete" (click)="deleteWeight(row)"></mat-icon>
                        </span>
                        <div style="cursor: pointer;" title="{{'project.results' | translate }}"
                            (click)="onShowOutputsByWeight(row)">
                            <mat-icon svgIcon="showOutput" style="color: #3180ae;"></mat-icon>
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" #modelWeightPaginator showFirstLastButtons></mat-paginator>

        <div *ngIf="this._interactionService.showWeightDetailsTable">
            <div style="padding-left: 30px; font-weight: bold;">
                {{'project.weightView' | translate }} {{this.weightIdForTitle}} {{'project.detailsView' | translate }}
            </div>
            <table mat-table [dataSource]="weightDetails">
                <ng-container matColumnDef="weight_id">
                    <th mat-header-cell *matHeaderCellDef>{{'project.weightId' | translate }}</th>
                    <td mat-cell *matCellDef="let element"> {{element.weight_id}} </td>
                </ng-container>
                <ng-container matColumnDef="weight_name">
                    <th mat-header-cell *matHeaderCellDef>{{'project.weightName' | translate }}</th>
                    <td mat-cell *matCellDef="let element"> {{element.weight_name}} </td>
                </ng-container>
                <ng-container matColumnDef="dataset_name">
                    <th mat-header-cell *matHeaderCellDef>{{'project.datasetName' | translate }}</th>
                    <td mat-cell *matCellDef="let element"> {{element.dataset_name}} </td>
                </ng-container>
                <ng-container matColumnDef="model_name">
                    <th mat-header-cell *matHeaderCellDef>{{'project.modelName' | translate }}</th>
                    <td mat-cell *matCellDef="let element"> {{element.model_name}} </td>
                </ng-container>
                <ng-container matColumnDef="pretrained_on">
                    <th mat-header-cell *matHeaderCellDef>{{'project.pretrainedOn' | translate }}</th>
                    <td mat-cell *matCellDef="let element"> {{element.pretrained_on}} </td>
                </ng-container>
                <ng-container matColumnDef="public_weight">
                    <th mat-header-cell *matHeaderCellDef>{{'project.publicWeightColumn' | translate }}</th>
                    <td mat-cell *matCellDef="let element"> {{element.public_weight}} </td>
                </ng-container>
                <ng-container matColumnDef="associated_users">
                    <th mat-header-cell *matHeaderCellDef>{{'project.associatedUsersColumn' | translate }}</th>
                    <td mat-cell *matCellDef="let element"> {{element.associated_users}} </td>
                </ng-container>
                <ng-container matColumnDef="layers_to_remove">
                    <th mat-header-cell *matHeaderCellDef>{{'project.layersToRemoveColumn' | translate }}</th>
                    <td mat-cell *matCellDef="let element"> {{element.layers_to_remove}} </td>
                </ng-container>
                <ng-container matColumnDef="classes">
                    <th mat-header-cell *matHeaderCellDef>{{'project.classesColumn' | translate }}</th>
                    <td mat-cell *matCellDef="let element"> {{element.classes}} </td>
                </ng-container>
                <ng-container matColumnDef="is_active">
                    <th mat-header-cell *matHeaderCellDef>{{'project.activeWeightColumn' | translate }}</th>
                    <td mat-cell *matCellDef="let element"> {{element.is_active}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedWeightDetailsColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedWeightDetailsColumns;"></tr>
            </table>
        </div>
    </div>

    <div class="div-output-results" [hidden]="!divOutputResultsShowStatus">
        <div class="div-edit-weights-title">{{'project.outputResults' | translate}}</div>
        <div class="div-prefilter-by-models" *ngIf="showOutputInferenceSingle">
            <div class="div-middle-box-title" style="color: #3180ae;">
                {{'project.outputResultList' | translate}} {{outputResultsDetailProcessId}}
            </div>
        </div>
        <table mat-table #outputTableSort="matSort" [dataSource]="outputList" matSort
            *ngIf="showOutputInferenceSingle">
            <ng-container matColumnDef="outputImage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.outputImage' | translate }}</th>
                <td mat-cell *matCellDef="let element" class="td-output-results-cells"> {{element.outputImage}} </td>
            </ng-container>
            <ng-container matColumnDef="outputDetails">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.outputDetails' | translate }}</th>
                <td mat-cell *matCellDef="let row">
                    <div style="cursor: pointer;" title="View details" (click)="onShowInferenceOutputDetails(row)">
                        <mat-icon svgIcon="viewDetails" style="color: #65A4C5;"></mat-icon>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedOutputColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedOutputColumns;"></tr>
        </table>
        <mat-paginator *ngIf="showOutputInferenceSingle" [pageSizeOptions]="[5, 10, 20]" #outputPaginator showFirstLastButtons></mat-paginator>

        <div class="div-middle-box-title" style="color: #3180ae; padding: 10px;" *ngIf="showOutputRunning">
            {{'project.outputStatusParametersDetails' | translate}} {{outputResultsDetailProcessId}}
        </div>

        <!-- <table mat-table [dataSource]="outputResultsRunning" *ngIf="showOutputRunning">
            <ng-container matColumnDef="Model_Id">
                <th mat-header-cell *matHeaderCellDef>{{'project.outputModelId' | translate }}</th>
                <td mat-cell *matCellDef="let element" class="td-output-results-cells"> {{element.Model_Id}} </td>
            </ng-container>
            <ng-container matColumnDef="Dataset_Id">
                <th mat-header-cell *matHeaderCellDef>{{'project.outputDatasetId' | translate }}</th>
                <td mat-cell *matCellDef="let element" class="td-output-results-cells"> {{element.Dataset_Id}} </td>
            </ng-container>
            <ng-container matColumnDef="Weight_Id">
                <th mat-header-cell *matHeaderCellDef>{{'project.outputWeightId' | translate }}</th>
                <td mat-cell *matCellDef="let element" class="td-output-results-cells"> {{element.Weight_Id}} </td>
            </ng-container>
            <ng-container matColumnDef="Epoch">
                <th mat-header-cell *matHeaderCellDef>{{'project.outputEpoch' | translate }}</th>
                <td mat-cell *matCellDef="let element" class="td-output-results-cells"> {{element.Epoch}} </td>
            </ng-container>
            <ng-container matColumnDef="Loss_Function">
                <th mat-header-cell *matHeaderCellDef>{{'project.outputLoss' | translate}}</th>
                <td mat-cell *matCellDef="let element" class="td-output-results-cells"> {{element.Loss_Function}} </td>
            </ng-container>
            <ng-container matColumnDef="Metric">
                <th mat-header-cell *matHeaderCellDef>{{'project.outputMetric' | translate }}</th>
                <td mat-cell *matCellDef="let element" class="td-output-results-cells"> {{element.Metric}} </td>
            </ng-container>
            <ng-container matColumnDef="Batch_Size">
                <th mat-header-cell *matHeaderCellDef>{{'project.outputBatchSize' | translate }}</th>
                <td mat-cell *matCellDef="let element" class="td-output-results-cells"> {{element.Batch_Size}} </td>
            </ng-container>
            <ng-container matColumnDef="Input_Height">
                <th mat-header-cell *matHeaderCellDef>{{'project.outputInputHeight' | translate }}</th>
                <td mat-cell *matCellDef="let element" class="td-output-results-cells"> {{element.Input_Height}} </td>
            </ng-container>
            <ng-container matColumnDef="Input_Width">
                <th mat-header-cell *matHeaderCellDef>{{'project.outputInputWidth' | translate }}</th>
                <td mat-cell *matCellDef="let element" class="td-output-results-cells"> {{element.Input_Width}} </td>
            </ng-container>
            <ng-container matColumnDef="Training_Augmentations">
                <th mat-header-cell *matHeaderCellDef>{{'project.outputTrainingAugmentations' | translate }}</th>
                <td mat-cell *matCellDef="let element" class="td-output-results-cells"> {{element.Training_Augmentations}} </td>
            </ng-container>
            <ng-container matColumnDef="Validation_Augmentations">
                <th mat-header-cell *matHeaderCellDef>{{'project.outputValidationAugmentations' | translate }}</th>
                <td mat-cell *matCellDef="let element" class="td-output-results-cells"> {{element.Validation_Augmentations}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedOutputResultsRunningColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedOutputResultsRunningColumns;"></tr>
        </table> -->

        <div style="padding-top: 20px;" *ngIf="showOutputRunning">
            <div class="div-middle-box-title" style="color: #3180ae; padding: 10px;">
                {{'project.outputStatusEvolution' | translate}}
            </div>
            <div *ngIf="showGraphicProcess">
                <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend"
                    [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
                    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline"
                    [results]="chartLossValuesList" (select)="onSelect($event)" (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)">
                </ngx-charts-line-chart>
                <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend"
                    [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
                    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yMetricAxisLabel" [timeline]="timeline"
                    [results]="chartMetricValuesList" (select)="onSelect($event)" (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)">
                </ngx-charts-line-chart>
            </div>
        </div>
        <div class="div-middle-box-progress-bar" *ngIf="showProgressBarProcess">
            <div class="div-middle-box-title" style="color: #3180ae; padding-bottom: 8px;">
                {{'project.outputStatusInferenceProcess' | translate}} {{outputInference}} {{'project.outputProcentageInferenceProcess'
                | translate}}</div>
            <mat-progress-bar mode="determinate" [value]="outputInference" max="10000"></mat-progress-bar>
        </div>
    </div>

    <div class="div-edit-project" [hidden]="!divEditProjectShowStatus">
        <div class="div-edit-weights-title">{{'project.editProject' | translate}}</div>
        <div class="div-edit-project-top-content">
            <div style="color: #3180ae;">
                {{'project.projectName' | translate}}
                <input style="margin-left: 33px;" name="projectName" value={{projectNameValue}}
                    (change)="changeValueProjectName($event)">
                <button mat-icon-button style="float: right;"
                    [disabled]="this._interactionService.username != this._interactionService.projectOwner"
                    (click)="deleteProject(this._interactionService.currentProject)">
                    <mat-icon
                        [ngClass]="{'disabledIcon': this._interactionService.username != this._interactionService.projectOwner}"
                        class="div-icon-delete" title="{{'delete-dialog.deleteProject' | translate }}" svgIcon="delete">
                    </mat-icon>
                </button>
            </div>
            <div style="color: #3180ae; padding-top: 10px;">
                {{'project.projectOwner' | translate}}
                <input style="margin-left: 29px; border: none;" readonly="readonly" name="projectOwner"
                    value={{projectOwnerValue}}>
            </div>
        </div>
        <div class="div-edit-project-middle-left-content">
            <div style="color: #3180ae;">
                {{'project.selectUsersToProject' | translate}}
            </div>
            <div class="div-edit-project-left-list">
                <div>
                    <mat-icon class="div-edit-project-left-list-search" svgIcon={{searchIcon}}></mat-icon>
                    <input matInput class="div-edit-project-left-list-search-text" type="search" id="search-text"
                        [(ngModel)]="searchText" placeholder="{{'project.searchUserPlaceholder' | translate}}">
                </div>
                <mat-selection-list #usersSelection id="usersSelection" [(ngModel)]="selectedUsersData">
                    <mat-list-option class="mat-primary"
                        *ngFor="let option of this._interactionService.usersList | userFilter: searchText"
                        [value]="option.username">
                        {{option.username}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
        <div class="div-edit-project-middle-right-content">
            <div style="color: #3180ae;">
                {{'project.associatedUsersToProject' | translate}}
            </div>
            <div class="div-edit-project-right-list">
                <div class="div-edit-project-right-list-left-content">
                    <mat-selection-list #associatedUsersSelection id="associatedUsersSelection"
                        [(ngModel)]="selectedAssociatedUsers">
                        <mat-list-option class="mat-primary"
                            *ngFor="let option of this._interactionService.usersAssociatedArray"
                            [value]="option.username">
                            {{option.username}}
                        </mat-list-option>
                    </mat-selection-list>
                </div>
                <div class="div-edit-project-right-list-right-content">
                    <button mat-icon-button
                        [disabled]="this._interactionService.username != this._interactionService.projectOwner || associatedUsersSelection.selectedOptions.selected.length == 0"
                        (click)="deleteUser(projectNameValue);">
                        <mat-icon
                            [ngClass]="{'disabledIcon': this._interactionService.username != this._interactionService.projectOwner || associatedUsersSelection.selectedOptions.selected.length == 0}"
                            class="div-icon-delete" title="{{'delete-dialog.deleteUsers' | translate }}"
                            svgIcon="delete"></mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="div-edit-project-bottom-content">
            <button mat-flat-button color="primary" style="margin-left: 40%;"
                [disabled]="disabledSaveUpdateButton && usersSelection.selectedOptions.selected.length == 0 || this._interactionService.username != this._interactionService.projectOwner"
                (click)="updateProject(projectNameValue);">{{ 'project.saveUpdateProjectButton' | translate }}</button>
            <button mat-flat-button color="primary" style="margin-left: 60px;"
                [disabled]="disabledCancelUpdateButton && usersSelection.selectedOptions.selected.length == 0 || this._interactionService.username != this._interactionService.projectOwner"
                (click)="cancelUpdateProject();">{{ 'project.cancelUpdateProjectButton' | translate }}</button>
            <div *ngIf="this._interactionService.username != this._interactionService.projectOwner"
                class="div-edit-project-bottom-message">
                {{ 'project.errorEditProjectUserPermission' | translate }}
            </div>
        </div>
    </div>

    <div class="div-create-model-allowed-properties" [hidden]="!divCreateModelAllowedPropertiesShowStatus">
        <div class="div-edit-weights-title">{{'project.createModelAllowedPropertiesTitle' | translate}}</div>
        <div class="div-allowed-properties-box-cols">
            <div class="div-allowed-properties-box-col1">
                <div class="div-middle-box-title">
                    {{'project.model' | translate}}
                </div>
                <mat-form-field class="div-middle-box-content">
                    <mat-select (selectionChange)="triggerSelectedModel($event)" [(value)]=selectedOptionModel>
                        <mat-option *ngFor="let option of modelDropdown" value={{option}}>
                            {{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="div-allowed-properties-box-col2">
                <div class="div-middle-box-title">
                    {{'project.dataset' | translate}}
                </div>
                <mat-form-field class="div-middle-box-content">
                    <mat-select (selectionChange)="triggerSelectedDataset($event)" [(value)]=selectedOptionDataset>
                        <mat-option *ngFor="let option of datasetDropdown" value={{option}}>
                            {{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="div-create-allowed-properties-title">{{'project.modelPropertiesTitle' | translate}}</div>
        <div class="div-create-allowed-properties-table">
            <div class="div-middle-properties-table-titles">
                <span style="font-size: 15px; padding-left: 9%;">{{'project.propertiesTitle' | translate}}</span>
                <span
                    style="font-size: 15px; padding-left: 9%;">{{'project.defaultPropertiesValuesTitle' | translate}}</span>
                <span
                    style="font-size: 15px; padding-left: 29%;">{{'project.allowedPropertiesValuesTitle' | translate}}</span>
            </div>
            <div>
                <div class="div-middle-properties">
                    <ng-container #viewLearningRateContainer2></ng-container>
                    <ng-container #viewEpochsContainer2></ng-container>
                    <ng-container #viewBatchSizeContainer2></ng-container>
                    <ng-container #viewMetricContainer2></ng-container>
                    <ng-container #viewLossFunctionContainer2></ng-container>
                    <ng-container #viewInputWidthContainer2></ng-container>
                    <ng-container #viewInputHeightContainer2></ng-container>
                    <ng-container #viewTrainingAugmentationsContainer2></ng-container>
                    <ng-container #viewValidationAugmentationsContainer2></ng-container>
                    <ng-container #viewTestAugmentationsContainer2></ng-container>
                </div>
            </div>
        </div>
    </div>
</div>