/* The default window */

.div-main {
    height: calc(100% - 140px);
    height: -o-calc(100% - 140px);
    /* opera */
    height: -webkit-calc(100% - 140px);
    /* google, safari */
    height: -moz-calc(100% - 140px);
    /* firefox */
}

/* the left side of the default window */

.div-left {
    width: 18%;
    display: inline-block;
    height: 100%;
    overflow: auto;
    color: white;
    border-right-color: #1A759D;
}

.div-left-section {
    display: inline-block;
    width: 100%;
}

.div-left-section-title {
    width: 100%;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #65A4C4;
}

.div-left-section-box {
    display: inline-block;
    width: calc(100% - 10px);
    padding-left: 10px;
    color: rgb(97, 168, 214);
}

.div-left-section-box-button {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.div-left-upload-dataset-button {
    color: rgb(78, 151, 216);
    background-color: rgb(255, 255, 255);
}

/* the right side of the default window, that stays open all the time */

.div-right {
    width: 20%;
    display: inline-block;
    height: 100%;
    overflow: auto;
    border-left-color: #1A759D;
}

.div-right-button {
    width: 100%;
    height: 20%;
    text-align: left;
    display: inline-block;
    background-color: #65A4C4;
    border-radius: 0;
    color: white;
}

.div-right-button-clicked {
    width: 100%;
    height: 20%;
    text-align: left;
    display: inline-block;
    background-color: white;
    border-radius: 0;
    color: #084E83;
}

/* the middle part of the default window */

.div-middle {
    width: calc(100% - 18% - 20% - 4px);
    display: inline-block;
    height: 100%;
    overflow: auto;
    border-right-color: #1A759D;
    border-right-width: 2px;
    border-right-style: solid;
    border-left-color: #1A759D;
    border-left-width: 2px;
    border-left-style: solid;
    background-color: #ECEFF1;
}

.div-middle-title {
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #65A4C4;
}

.div-middle-box-title {
    width: 100%;
    display: inline-block;
    font-size: 15px;
    color: rgb(4, 36, 53);
    padding-top: 8px;
}

.div-middle-box-content {
    display: inline-block;
    color: rgb(4, 36, 53);
    width: 100%;
}

.div-middle-box {
    display: flex;
    padding: 2%;
}

.div-middle-box-left {
    width: 60%;
    padding-right: 5%;
}

.div-middle-box-right {
    width: 30%;
    padding-left: 3%;
}

.div-middle-box-left-cols {
    display: flex;
}

.div-middle-box-left-col1 {
    width: 45%;
    padding-right: 5%;
    float: left;
}

.div-middle-box-left-col2 {
    width: 45%;
    padding-left: 5%;
    float: right;
}

.div-middle-slide-toggle-button {
    width: 50%;
    height: 50%;
    width: 100%;
    display: inline-block;
    color: rgb(4, 36, 53);
    font-size: 12px;
}

.div-middle-inference-button {
    color: rgb(9, 46, 78);
}

.div-middle-box-content-button {
    display: inline-block;
    background-color: #2DB5D3;
    color: white;
    display: flex;
}

.div-middle-box-progress-bar {
    width: 80%;
    padding: 25px;
}

.mat-progress-bar {
    height: 15px;
}

.div-middle-box-properties-title {
    font-size: 15px; 
    color: rgb(16 104 150); 
    padding-bottom: 16px;
    padding-top: 12px;
}

.div-middle-properties-table {
    width: 100%; 
    border: solid 0.5px; 
    border-color: rgb(101,164,196);
    display: inline-block;
}

.div-middle-properties-table-titles {
    width: calc(100% - 10px); 
    display: inline-block; 
    border-bottom: solid 0.5px; 
    border-color: rgb(101,164,196); 
    padding-top: 8px; 
    padding-left: 10px; 
    padding-bottom: 8px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    background-color: #65A4C4;
}

.div-middle-properties{
    width: 100%;
}

.div-border {
    padding: 10px;
    border-top-style: solid;
    border-width: 1.2px;
    border-color: #1a759d;
    width: calc(70% - 20px);
    background-color: rgb(236, 239, 241);
}

.input-file {
    border: 1px solid gray;
    color: #084E6E;
    background-color: #EEF4F5;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: bold;
}

.input-file-field {
    display: none;
}

.input-file-button {
    background-color: #2DB5D3;
    color: white;
}

[hidden] {
    display: none !important;
}

.div-network-statistics {
    width: calc(100% - 20% - 2px);
    float: left;
    height: 100%;
    overflow: auto;
    border-right-color: #1A759D;
    border-right-width: 2px;
    border-right-style: solid;
}

.div-notifications {
    width: calc(100% - 20% - 2px);
    float: left;
    height: 100%;
    overflow: auto;
    border-right: 2px solid #1A759D;
}

.div-notifications-title-section {
    width: calc(100% / 6 - 1px);
    background-color: #65A4C4;
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-right: 1px solid;
    border-color: #346386;
    height: 100%;
}

.div-notifications-process {
    display: flex;
    cursor: pointer;
    vertical-align: middle;
}

.div-notifications-process-section {
    width: calc(100% / 6);
    display: inline-block;
    text-align: center;
    padding: 20px 0;
    vertical-align: middle;
}

.div-notifications-process-section-text {
    width: 70%;
    float: left;
}

.div-notifications-process-section-buttons {
    width: 30%;
    float: right;
    display: flex;
}

.div-notifications-icon {
    width: calc(20% - 2px);
    vertical-align: left;
    float: left;
}

.div-notifications-text {
    width: calc(80% - 2px);
    padding-left: 2px;
    float: right;
    /* background-color: #ECF3F4; */
}

.div-notifications-search{
    width: 8%;
    color: #084A6C;
}

.div-notifications-search-text{
    width: 92%;
    color: #084A6C;
    padding-bottom: 4px;
    font-size: 15px;
}

.left-mat-icon {
    vertical-align: left;
    color: #084A6C;
    display: inline-block;
    padding-top: 20px;
}

.div-edit-weights {
    width: calc(100% - 20% - 2px);
    float: left;
    height: 100%;
    overflow: auto;
    border-right-color: #1A759D;
    border-right-width: 2px;
    border-right-style: solid;
}

table {
    width: 100%;
    overflow: auto;
}

.edit-button {
    color: rgb(9, 46, 78);
}

.mat-form-field {
    font-size: 14px;
}

.div-edit-weights-title {
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 10px;
    border-bottom-style: ridge;
    color: #3180ae;
}

.div-middle-box-title-edit-weight {
    display: inline-block;
    font-size: 14px;
    color: #3180ae;
}

.div-prefilter-by-models {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.div-middle-edit-weight-message {
    width: 30%;
    display: inline-block;
    padding-top: 28px;
    color: #FF0000;
    font-size: 14px;
    
}

.div-output-results {
    width: calc(100% - 20% - 2px);
    float: left;
    height: 100%;
    overflow: auto;
    border-right-color: #1A759D;
    border-right-width: 2px;
    border-right-style: solid;
}

.td-output-results-cells {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

textarea {
    border: solid 1px;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

.div-edit-project {
    width: calc(100% - 20% - 2px);
    float: left;
    height: 100%;
    overflow: auto;
    border-right-color: #1A759D;
    border-right-width: 2px;
    border-right-style: solid;
}

.div-edit-project-top-content {
    width: calc(100% - 28px);
    height: calc(14% - 38px);
    padding: 14px;
    display: inline-block;
}

.div-edit-project-middle-left-content {
    width: calc(100% / 2 - 28px);
    height: calc(72% - 28px);
    float: left;
    padding: 14px;
}

.div-edit-project-left-list {
    width: 100%;
    height: calc(100% - 38px);
    padding-top: 10px;
    overflow: auto;
    border: #778ba3;
    border-style: solid;
    border-width: 1px;
}

.div-edit-project-left-list-search{
    width: 10%;
    color: #084A6C;
}

.div-edit-project-left-list-search-text{
    width: 90%;
    color: #084A6C;
    padding-bottom: 4px;
}

.div-edit-project-middle-right-content {
    width: calc(100% / 2 - 28px);
    height: calc(72% - 28px);
    float: right;
    padding: 14px;
}

.div-edit-project-right-list {
    width: 100%;
    height: calc(100% - 38px);
    padding-top: 10px;
    overflow: auto;
    border: #778ba3;
    border-style: solid;
    border-width: 1px;
}

.div-edit-project-bottom-content {
    width: calc(100% - 28px);
    height: calc(14% - 28px);
    padding-left: 14px;
    display: inline-block;
}

.div-edit-project-bottom-message {
    font-size: 14px;
    color: rgb(235, 46, 43);
    padding-left: 38%;
    padding-top: 8px;
}

mat-selection-list {
    width: fit-content;
}

.div-icon-delete {
    transform: scale(1.3);
    cursor: pointer;
    color: #3180ae;
  }

.div-icon-edit {
    cursor: pointer;
    padding-right: 10px; 
    color: #3180ae;
}

.div-edit-project-right-list-left-content {
    width: 90%;
    float: left;
}

.div-edit-project-right-list-right-content {
    width: 10%;
    float: right;
}

 .disabledIcon{
    cursor: not-allowed;
}

.div-create-model-allowed-properties {
    width: calc(100% - 20% - 2px);
    float: left;
    height: 100%;
    overflow: auto;
    border-right-color: #1A759D;
    border-right-width: 2px;
    border-right-style: solid;
}

.div-allowed-properties-box-cols {
    display: flex;
}

.div-allowed-properties-box-col1 {
    width: 30%;
    padding-right: 5%;
    padding-left: 2%;
    float: left;
}

.div-allowed-properties-box-col2 {
    width: 30%;
    padding-left: 5%;
    float: right;
}

.div-create-allowed-properties-title {
    font-size: 15px; 
    color: rgb(16 104 150); 
    padding-bottom: 16px;
    padding-top: 12px;
    padding-left: 2%;
}

.div-create-allowed-properties-table {
    width: 80%; 
    border: solid 0.5px; 
    border-color: rgb(101,164,196);
    display: inline-block;
    margin-left: 2%
}

::ng-deep snack-bar-container.ok-request-custom-class {
    background: #30783B;
}
  
::ng-deep .ok-request-custom-class .mat-simple-snackbar {
    color: white;
}

::ng-deep .ok-request-custom-class .mat-simple-snackbar-action {
    color: white;
}

::ng-deep snack-bar-container.bad-request-custom-class {
    background: #C42F2C;
}

::ng-deep .bad-request-custom-class .mat-simple-snackbar {
    color: white;
}

::ng-deep .bad-request-custom-class .mat-simple-snackbar-action {
    color: white;
}