.div-main {
    height: calc(100% - 29px);
    height: -o-calc(100% - 29px);
    /* opera */
    height: -webkit-calc(100% - 29px);
    /* google, safari */
    height: -moz-calc(100% - 29px);
    /* firefox */
}

.div-left {
    width: 18%;
    display: inline-block;
    height: 100%;
    overflow: auto;
}

.div-middle {
    width: calc(100% - 18% - 18% - 4px);
    display: inline-block;
    height: 100%;
    overflow: auto;
    border-right-color: #1a759d;
    border-right-width: 2px;
    border-right-style: solid;
    border-left-color: #1a759d;
    border-left-width: 2px;
    border-left-style: solid;
}

.div-right {
    width: 18%;
    display: inline-block;
    height: 100%;
    overflow: auto;
}

/*side divs*/

.div-section {
    display: inline-block;
    width: 100%;
}

.div-section-title {
    width: 100%;
    display: inline-block;
    font-size: 20px;
    color: #084E6E;
    background-color: #EEF4F5;
    text-align: center;
}

.div-section-box {
    display: inline-block;
    width: 100%;
}

.div-section-box-button {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.div-right-button {
    width: 100%;
    height: 20%;
    text-align: left;
    display: inline-block;
    background-color: #EEF4F5;
    border-radius: 0;
    color: #084E83;
}

.div-right-button-clicked {
    width: 100%;
    height: 20%;
    text-align: left;
    display: inline-block;
    background-color: white;
    border-radius: 0;
    color: #084E83;
}

/*mid div*/

.div-details-right-side {
    float: right;
    width: calc(50% - 40px);
    padding: 20px;
}

.div-details-left-side {
    float: left;
    width: calc(50% - 40px);
    padding: 20px;
}

.div-details-title {
    width: 100%;
    font-size: 20px;
    color: #084E6E;
    background-color: #EEF4F5;
    text-align: center;
}

.div-details-box {
    width: 100%;
    display: inline-block;
    font-size: 14px;
    color: #1a759d;
}

.div-details-box-title {
    width: 100%;
    display: inline-block;
    color: #1a759d;
    font-size: 12px;
}

.div-details-content {
    display: inline-block;
    padding-left: 3px;
    color: #1a759d;
}

.input-file {
    border: 1px solid gray;
    color: #084E6E;
    background-color: #EEF4F5;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: bold;
}

.div-details-button {
    width: 50%;
    height: 50%;
}

.div-details-text-button {
    width: 100%;
    display: inline-block;
    color: #1a759d;
    font-size: 12px;
}

.div-details-content-button {
    display: inline-block;
    background-color: #2DB5D3;
    color: white;
    display: flex;
}
.input-file-field {
    display: none;
}

.input-file-button {
    background-color: #2DB5D3;
    color: white;
}

[hidden] { display: none !important;}


.div-user-screen {
    width: calc(100% - 18%);
    float: left;
    height: 100%;
    overflow: auto;
}

.div-network-statistics {
    width: calc(100% - 18%);
    float: left;
    height: 100%;
    overflow: auto;
}