.div-property-name {
    display: inline-block; 
    width: 30%; 
    font-size: 15px;
}

.div-property-content-values {
    display: inline-block; 
    width: calc(70% - 20px); 
    padding-left: 20px;
}