.deep-health-body {
    height: calc(100% - 93.13px - 8px);
    height: -o-calc(100% - 93.13px - 8px); /* opera */
    height: -webkit-calc(100% - 93.13px - 8px); /* google, safari */
    height: -moz-calc(100% - 93.13px - 8px); /* firefox */
}