.deep-health-body {
    height: calc(100% - 150.13px);
    height: -o-calc(100% - 150.13px); /* opera */
    height: -webkit-calc(100% - 150.13px); /* google, safari */
    height: -moz-calc(100% - 150.13px); /* firefox */
}