<div style="padding-left: 10%; padding-right: 10%; display: flex">
    <div class="div-property-name">{{propertyData.name}}
        <span *ngIf="propertyData.name == 'Batch size' || propertyData.name == 'Epochs'">*</span>
    </div>
    <div class="div-property-content-values" #integerProperty id="integerProperty">
        <mat-form-field style="text-align: right; width: 95%; font-size: 15px;">
            <input matInput type="number" value={{propertyData.default_value}} step=1
                (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                (change)="changeIntegerPropertyValue($event)">
        </mat-form-field>
        <mat-icon *ngIf="this._interactionService.editAllowedProperties" class="div-icon-edit"
            title="{{'create-allowed-properties-dialog.editPropertyValues' | translate }}" svgIcon="edit"
            (click)="this._interactionService.editAllowedPropertiesValues(propertyData)"></mat-icon>
    </div>
    <div class="div-property-content-values">
        <mat-form-field style="text-align: right; width: 95%; font-size: 15px;"
            *ngIf="this.propertyData.name == 'Epochs'">
            <textarea matInput *ngIf="this._interactionService.epochAllowedValues.length == 0" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" disabled cdkAutosizeMinRows="1" cdkAutosizeMaxRows="7"
                value="{{'project.noAllowedValuesMessage' | translate}}"></textarea>
            <textarea matInput *ngIf="this._interactionService.epochAllowedValues.length != 0" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" disabled cdkAutosizeMinRows="1" cdkAutosizeMaxRows="7"
                value={{this._interactionService.propertyItemData.defaultType}}{{this.propertyData.default_value}}{{this._interactionService.propertyItemData.allowedType}}{{this._interactionService.epochValues}}></textarea>
        </mat-form-field>
        <mat-form-field style="text-align: right; width: 95%; font-size: 15px;"
            *ngIf="this.propertyData.name == 'Batch size'">
            <textarea matInput *ngIf="this._interactionService.batchSizeAllowedValues.length == 0" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" disabled cdkAutosizeMinRows="1" cdkAutosizeMaxRows="7"
                value="{{'project.noAllowedValuesMessage' | translate}}"></textarea>
            <textarea matInput *ngIf="this._interactionService.batchSizeAllowedValues.length != 0" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" disabled cdkAutosizeMinRows="1" cdkAutosizeMaxRows="7"
                value={{this._interactionService.propertyItemData.defaultType}}{{this.propertyData.default_value}}{{this._interactionService.propertyItemData.allowedType}}{{this._interactionService.batchSizeValues}}></textarea>
        </mat-form-field>       
        <mat-form-field style="text-align: right; width: 95%; font-size: 15px;"
            *ngIf="this.propertyData.name == 'Input width'">
            <textarea matInput *ngIf="this._interactionService.inputWidthAllowedValues.length == 0" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" disabled cdkAutosizeMinRows="1" cdkAutosizeMaxRows="7"
                value="{{'project.noAllowedValuesMessage' | translate}}"></textarea>
            <textarea matInput *ngIf="this._interactionService.inputWidthAllowedValues.length != 0" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" disabled cdkAutosizeMinRows="1" cdkAutosizeMaxRows="7"
                value={{this._interactionService.propertyItemData.defaultType}}{{this.propertyData.default_value}}{{this._interactionService.propertyItemData.allowedType}}{{this._interactionService.inputWidthValues}}></textarea>
        </mat-form-field>
        <mat-form-field style="text-align: right; width: 95%; font-size: 15px;"
            *ngIf="this.propertyData.name == 'Input height'">
            <textarea matInput *ngIf="this._interactionService.inputHeightAllowedValues.length == 0" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" disabled cdkAutosizeMinRows="1" cdkAutosizeMaxRows="7"
                value="{{'project.noAllowedValuesMessage' | translate}}"></textarea>
            <textarea matInput *ngIf="this._interactionService.inputHeightAllowedValues.length != 0" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" disabled cdkAutosizeMinRows="1" cdkAutosizeMaxRows="7"
                value={{this._interactionService.propertyItemData.defaultType}}{{this.propertyData.default_value}}{{this._interactionService.propertyItemData.allowedType}}{{this._interactionService.inputHeightValues}}></textarea>
        </mat-form-field>
    </div>
</div>