.div-main {
  height: calc(100% - 140px);
  height: -o-calc(100% - 140px);
  /* opera */
  height: -webkit-calc(100% - 140px);
  /* google, safari */
  height: -moz-calc(100% - 140px);
  /* firefox */
  display: flex;
}

.div-left {
  width: 20%;
  display: inline-block;
  height: 100%;
  overflow: auto;
  background-color: rgb(66, 84, 99)
}

.div-right {
  width: calc(100% - 20%);
  height: 100%;
  display: inline-block;
  vertical-align: top;
  overflow: auto;
}

.div-right-menu {
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-bottom-color: #1a759d;
}

.div-border {
  padding: 12px;
  border-bottom-style: solid;
  border-width: 0.5px;
  border-color: #1a759d;
}

.div-right-menu-icon {
  transform: scale(2);
  padding-left: 20px;
  padding-right: 20px;
  color: #1a759d;
}

.div-right-menu-text {
  font-size: 20px;
  display: inline-block;
  color: #084A6C;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div-right-icon {
  transform: scale(1.5);
  padding-left: 2px;
  padding-right: 15px;
  color: #1a759d;
  vertical-align: middle;
  cursor: pointer;
}

.div-right-text {
  font-size: 16px;
  display: inline-block;
  color: black;
  vertical-align: middle;
  cursor: pointer;
  font-family: 'Segoe UI';
}

.div-right-project {
  font-size: 20px;
  display: inline-block;
  width: calc(100%-25%);
  cursor: pointer;
  padding-left: 18px;
}

.div-right-icon-project {
  transform: scale(1.5);
  padding: 9px;
  color: #1a759d;
  vertical-align: middle;
}

.div-right-icon-delete {
  height: 28px;
  width: 28px;
  margin-bottom: 14px;
}

.div-icon-delete {
  transform: scale(1);
  padding-left: 10px;
  cursor: pointer;
  color: #1a759d;
  padding-top: 10px;
  padding-bottom: 10px;
}

.div-right-text-project {
  font-size: 14px;
  display: inline-block;
  color: black;
  vertical-align: middle;
}

.div-right-text-project-owner {
  display: inline-block;
  padding: 6px; 
  padding-left: 15px;
  font-size: 14px;
  font-style: italic;
  color: rgb(75, 209, 133);
}

.left-mat-icon {
  vertical-align: middle;
  color: #1a759d;
  cursor: pointer;
  padding-left: 5px;
}

.left-mat-text {
  vertical-align: middle;
  padding: 6px;
  color: white;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}

.div-left-text-model {
  font-size: 15px;
  padding: 5px;
  display: inline-block;
  color: white;
  vertical-align: middle;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.mat-expansion-panel-header {
  padding: 0 10px !important;
}

.div-left-section-title {
  background-color: #65A4C4;
  border-bottom: 1px solid #425463;
  height: 30px;
  padding-top: 7px;
}

.div-left-content {
  padding-top: 5px;
}

table {
  padding-top: 6px;
}

th {
  font-size: 16px;
  color: #084A6C;
  font-family: 'Segoe UI';
}

.div-icon-owner {
  height: 28px;
  width: 28px;
  border: #778ba3;
  border-style: solid;
  border-width: 1px;
  margin-top: 6px;
  margin-bottom: 12px;
  margin-right: 26px;
  margin-left: 26px;
}

.div-icon-checked-owner {
  transform: scale(1.3);
  padding: 3px;
  padding-top: 5px;
  color: #1a759d;
  vertical-align: middle;
}

::ng-deep snack-bar-container.ok-request-custom-class {
  background: #30783B;
}

::ng-deep .ok-request-custom-class .mat-simple-snackbar {
  color: white;
}

::ng-deep .ok-request-custom-class .mat-simple-snackbar-action {
  color: white;
}

::ng-deep snack-bar-container.bad-request-custom-class {
  background: #C42F2C;
}

::ng-deep .bad-request-custom-class .mat-simple-snackbar {
  color: white;
}

::ng-deep .bad-request-custom-class .mat-simple-snackbar-action {
  color: white;
}