.div-main {
  height: calc(100% - 39px);
  height: -o-calc(100% - 39px);
  /* opera */
  height: -webkit-calc(100% - 39px);
  /* google, safari */
  height: -moz-calc(100% - 39px);
  /* firefox */
  display: flex;
}

.div-left {
  /*width: 19.29vw;*/
  width: 18%;
  display: inline-block;
  height: 100%;
  overflow: auto;
  background-color: rgb(66, 84, 99)
}

.div-right {
  width: calc(100% - 18%);
  /*width: 97.4vw;*/
  height: 100%;
  display: inline-block;
  vertical-align: top;
  overflow: auto;
}

.div-right-menu {
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-bottom-color: #1a759d;
}

.div-border {
  padding: 12px;
  border-bottom-style: solid;
  border-width: 0.5px;
  border-color: #1a759d;
}

.div-right-menu-icon {
  transform: scale(2);
  padding-left: 20px;
  padding-right: 20px;
  color: #1a759d;
}

.div-right-menu-text {
  font-size: 20px;
  display: inline-block;
  color: #084A6C;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div-right-icon {
  transform: scale(1.5);
  padding-left: 2px;
  padding-right: 15px;
  color: #1a759d;
  vertical-align: middle;
  cursor: pointer;
}

.div-right-text {
  font-size: 16px;
  display: inline-block;
  color: black;
  vertical-align: middle;
  cursor: pointer;
  font-family: 'Segoe UI';
}

.div-right-project {
  font-size: 20px;
  display: inline-block;
  width: calc(100%-25%);
  cursor: pointer;
  padding-left: 25px;
}

.div-right-icon-project {
  transform: scale(1.5);
  padding-left: 15px;
  padding-right: 15px;
  color: #1a759d;
  vertical-align: middle;
}

.div-right-text-project {
  font-size: 14px;
  display: inline-block;
  color: black;
  vertical-align: middle;

}

.left-mat-icon {
  vertical-align: middle;
  color: #1a759d;
  cursor: pointer;
  padding-left: 5px;
}

.left-mat-text {
  vertical-align: middle;
  padding: 6px;
  color: white;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}

.div-left-text-model {
  font-size: 15px;
  padding: 5px;
  display: inline-block;
  color: white;
  vertical-align: middle;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.div-left-section-title {
  background-color: #65A4C4;
  border-bottom: 1px solid #425463;
  height: 30px;
  padding-top: 7px;
}

.div-left-content {
  padding-top: 5px;
}