textarea {
    border: solid 1px;
}

.div-property-name {
    display: inline-block; 
    width: 30%; 
    font-size: 15px;
    padding-top: 20px;
}

.div-property-content-values {
    display: inline-block; 
    width: calc(70% - 24px); 
    padding-left: 24px;
}

.div-middle-properties-left{
    width: 50%;
}

.div-middle-properties-right{
    width: 50%;
}

.div-middle-box-angle {
    border: solid 0.5px; 
    border-color: rgb(101,164,196); 
    padding: 6px; 
    font-size: 15px;
    margin-right: 20px;
    margin-left: 20px;
}

.div-middle-box-center {
    border: solid 0.5px; 
    border-color: rgb(101,164,196); 
    padding: 6px;
    font-size: 15px;
    margin-right: 20px;
}

.div-training-property {
    border: solid 0.5px; 
    border-color: rgb(101,164,196); 
    margin: 10px;
    padding-bottom: 10px;
}

mat-slider {
    width: 90%;
}

.div-icon-edit {
    cursor: pointer;
    padding-left: 20px; 
    color: #3180ae;
}