<div>
  <div style="padding-left: 10%; padding-right: 10%; display: flex;">
    <div class="div-property-name">{{propertyData.name}}</div>
    <div class="div-property-content-values" #textProperty id="textProperty">
      <mat-form-field appearance="none" style="width: 95%;">
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="7" value={{propertyData.default_value}}
          (change)="changeTextPropertyValue($event)"></textarea>
      </mat-form-field>
      <mat-icon *ngIf="this._interactionService.editAllowedProperties" class="div-icon-edit"
        title="{{'create-allowed-properties-dialog.editPropertyValues' | translate }}" svgIcon="edit"
        (click)="this._interactionService.editAllowedPropertiesValues(propertyData)"></mat-icon>
    </div>
    <div class="div-property-content-values">
      <mat-form-field appearance="none" style="width: 95%;" *ngIf="this.propertyData.name == 'Training augmentations'">
        <textarea matInput *ngIf="this._interactionService.trainingAugmentationsAllowedValues.length == 0"
          cdkTextareaAutosize #autosize="cdkTextareaAutosize" disabled cdkAutosizeMinRows="1" cdkAutosizeMaxRows="7"
          value="{{'project.noAllowedValuesMessage' | translate}}"></textarea>
        <textarea matInput *ngIf="this._interactionService.trainingAugmentationsAllowedValues.length != 0"
          cdkTextareaAutosize #autosize="cdkTextareaAutosize" disabled cdkAutosizeMinRows="1" cdkAutosizeMaxRows="7"
          value={{this._interactionService.propertyItemData.defaultType}}{{this.propertyData.default_value}}{{this._interactionService.propertyItemData.allowedType}}{{this.propertyData.allowed_value}}></textarea>
      </mat-form-field>
      <mat-form-field appearance="none" style="width: 95%;"
        *ngIf="this.propertyData.name == 'Validation augmentations'">
        <textarea matInput *ngIf="this._interactionService.validationAugmentationsAllowedValues.length == 0"
          cdkTextareaAutosize #autosize="cdkTextareaAutosize" disabled cdkAutosizeMinRows="1" cdkAutosizeMaxRows="7"
          value="{{'project.noAllowedValuesMessage' | translate}}"></textarea>
        <textarea matInput *ngIf="this._interactionService.validationAugmentationsAllowedValues.length != 0"
          cdkTextareaAutosize #autosize="cdkTextareaAutosize" disabled cdkAutosizeMinRows="1" cdkAutosizeMaxRows="7"
          value={{this._interactionService.propertyItemData.defaultType}}{{this.propertyData.default_value}}{{this._interactionService.propertyItemData.allowedType}}{{this.propertyData.allowed_value}}></textarea>
      </mat-form-field>
      <mat-form-field appearance="none" style="width: 95%;" *ngIf="this.propertyData.name == 'Test augmentations'">
        <textarea matInput *ngIf="this._interactionService.testAugmentationsAllowedValues.length == 0"
          cdkTextareaAutosize #autosize="cdkTextareaAutosize" disabled cdkAutosizeMinRows="1" cdkAutosizeMaxRows="7"
          value="{{'project.noAllowedValuesMessage' | translate}}"></textarea>
        <textarea matInput *ngIf="this._interactionService.testAugmentationsAllowedValues.length != 0"
          cdkTextareaAutosize #autosize="cdkTextareaAutosize" disabled cdkAutosizeMinRows="1" cdkAutosizeMaxRows="7"
          value={{this._interactionService.propertyItemData.defaultType}}{{this.propertyData.default_value}}{{this._interactionService.propertyItemData.allowedType}}{{this.propertyData.allowed_value}}></textarea>
      </mat-form-field>
    </div>
  </div>
</div>