<div class="div-main">
  <mat-card>
    <mat-card-title style="text-align:center;">{{'reset-password.resetPasswordTitle' | translate}}</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs"></mat-tab-group>
    <mat-card-content>
      <div [hidden]="this._interactionService.divSendEmail">
        <mat-form-field #email id="email">
          <input matInput placeholder="Enter your email" required type="email" name="email" ngModel #email="ngModel" value={{emailValue}} [(ngModel)]="emailValue">
          <mat-error *ngIf="email.errors?.required">{{'reset-password.errorEmailRequired' | translate}}</mat-error>
        </mat-form-field>
        <button mat-raised-button class="reset-password-button" (click)="sendEmailToResetPassword(emailValue)" [disabled]="!emailValue">{{'reset-password.sendMailButton' | translate}}</button>
        <button mat-raised-button class="reset-password-button" (click)="goToLogin('');">{{'reset-password.cancelResetPassword' | translate}}</button>
      </div>
      <form action="" #userForm="ngForm">
        <div [hidden]="this._interactionService.divResetPassword">
          <div class="div-reset-password">{{'reset-password.messageResetCode' | translate}}</div>
          <mat-form-field #resetCode id="resetCode">
            <input matInput placeholder="Reset code" required type="password" name="resetCode" ngModel #resetCode="ngModel" value={{resetCodeValue}}
              [(ngModel)]="resetCodeValue">
            <mat-error *ngIf="resetCode.errors?.required">{{'reset-password.errorResetCodeRequired' | translate}}</mat-error>
          </mat-form-field>
          <mat-form-field #newPassword id="newPassword">
            <input matInput placeholder="New password" required type="password" minlength="4" name="newPassword" ngModel #newPassword="ngModel"
              value={{newPasswordValue}} [(ngModel)]="newPasswordValue">
            <mat-error *ngIf="newPassword.errors?.required">{{'login.errorPasswordRequired' | translate}}</mat-error>
            <mat-error *ngIf="newPassword.errors?.minlength">{{'login.errorPasswordLength' | translate}}</mat-error>
          </mat-form-field>
          <div>
            <button mat-raised-button class="reset-password-button" (click)="resetPassword(newPasswordValue, confirmNewPasswordValue)"
              [disabled]="userForm.invalid">{{'reset-password.resetPasswordButton' | translate}}</button>
            <button mat-raised-button class="reset-password-button" (click)="goToLogin('');">{{'reset-password.cancelResetPassword' | translate}}</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>